In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
# Loading the Mineral Evolution Database (med)
med = pd.read_csv('tbl_locality_age_cache.csv',delim_whitespace = True)
med.drop(columns = ['at_locality', 'mindat_id','is_remote', 'age_type', 'is_legit_age', 'max_age', 'max_age_excel_id', 'max_age_ref_id' ,'min_age', 'min_age_excel_id', 'min_age_ref_id', 'dated_locality_mindat_id'], inplace = True)
new_col = np.array(list(range(len(med))))
new_col[:] = -1
med = med.assign(mineral_names = new_col, rj_id = new_col)
med

         locality_id  mineral_id  mineral_names  rj_id
0                  1         819             -1     -1
1                  1        1289             -1     -1
2                  1        1399             -1     -1
3                  1        1478             -1     -1
4                  1        1673             -1     -1
...              ...         ...            ...    ...
1763562       285668        2026             -1     -1
1763563       285668        2116             -1     -1
1763564       285668        3741             -1     -1
1763565       285669        1547             -1     -1
1763566       285669        4152             -1     -1

[1763567 rows x 4 columns]

In [3]:
# Loading the International Mineralogical Association (IMA) names for minerals and their mineral id #'s
IMA_names = pd.read_csv('Mindat_ID.csv')
IMA_names.drop(columns = ['Mineral Name'],inplace = True)
IMA_names

     Mineral Name (plain)  Database ID
0               Abellaite         6482
1              Abelsonite          777
2         Abenakiite-(Ce)          778
3            Abernathyite          779
4                Abhurite          780
...                   ...          ...
5560           Zussmanite         4843
5561           Zvyaginite         6232
5562       Zvyagintsevite         4844
5563           Zwieselite         4845
5564              Zykaite         4846

[5565 rows x 2 columns]

In [4]:
# Combining the med database with the IMA name database using mineral_id and Database ID to match the entries
IMA_matching = np.array(IMA_names)
for name, num in IMA_matching:
    if num in med['mineral_id']:
        med.loc[med['mineral_id'] == num,['mineral_names']] = name
med.drop(columns = ['mineral_id'],inplace = True)
med

         locality_id mineral_names  rj_id
0                  1     Aktashite     -1
1                  1       Calcite     -1
2                  1  Chalcopyrite     -1
3                  1      Cinnabar     -1
4                  1       Dickite     -1
...              ...           ...    ...
1763562       285668        Galena     -1
1763563       285668          Gold     -1
1763564       285668        Pyrite     -1
1763565       285669     Cooperite     -1
1763566       285669    Sperrylite     -1

[1763567 rows x 3 columns]

In [5]:
# Reading in the rockjock names and ID #'s
rj = pd.read_csv('rj_matching.csv')
rj.drop(columns = ['RockJock Names'], inplace = True)
rj

                   Matching names  RJ number               Recommended Name
0                         Alunite         62                        Alunite
1                      Actinolite        161         Amphibole (actinolite)
2              Ferro-tschermakite         54  Amphibole (ferrotschermakite)
3                       Tremolite        151          Amphibole (tremolite)
4                        Analcime        114                       Analcime
..                            ...        ...                            ...
169                    Rossmanite        108                     Tourmaline
170                        Schorl        108                     Tourmaline
171                    Tsilaisite        108                     Tourmaline
172  Vanadio-oxy-chromium-dravite        108                     Tourmaline
173           Vanadio-oxy-dravite        108                     Tourmaline

[174 rows x 3 columns]

### List name-mismatch minerals between the RockJock database and the Mindat database:
#### hornblende, biotite, chert, boehmite, chlorite, clinoptilolite (Hector), glauconite, halloysite, illite, anorthoclase, andesine, bytownite, labradorite, oligoclase, psilomelane, hypersthene, serpentine, smectite, tourmaline

### List of the suggested names from Mindat:
#### biotite: hydrobiotite, boehmite: bohmite, chert: quartz, glauconite: celadonite (suggested, pre-1998), andesine: sanidine,  bytownite: anorthite, labradorite: anorthite, oligoclase: albite,  smectite (ferruginous): nontronite

### List of expanded mineral families from Rock Jock:
#### hornblende, barite, chlorite, illite, serpentine, tourmaline

### List of minerals not found (missing from Mindat or IMS discredited):
#### anorthoclase, psilomelane, hypersthene

In [6]:
# Here I check to ensure that all of the rockjock entries are correctly being found in the IMS names database
# Note, many of the rockjock names had to be altered or combined to be prorperly found in the IMS names database
rj_names = list(rj['Matching names'])
match = list()
pd.options.display.max_rows = 500
for name in rj_names:
    if name in list(IMA_names['Mineral Name (plain)']):
        match.append(1)
    else:
        match.append(0)
df_matches = pd.DataFrame(np.array([rj_names,match]).T,columns = ['Names','Match'])
df_matches

                                Names Match
0                             Alunite     1
1                          Actinolite     1
2                  Ferro-tschermakite     1
3                           Tremolite     1
4                            Analcime     1
5                             Anatase     1
6                          Andalusite     1
7                           Anhydrite     1
8                            Ankerite     1
9                           Aragonite     1
10                       Arsenopyrite     1
11                          Bassanite     1
12                        Berthierine     1
13                       Hydrobiotite     1
14                            Bohmite     1
15                            Brucite     1
16                      Buddingtonite     1
17                            Calcite     1
18                          Celestine     1
19                       Chalcopyrite     1
20                           Cinnabar     1
21                  Clinoptilolite-Na     1
22                         Cordierite     1
23                           Corundum     1
24                       Cristobalite     1
25                           Diaspore     1
26                            Dickite     1
27                           Dolomite     1
28                            Epidote     1
29                       Ferrihydrite     1
30                       Fluorapatite     1
31                           Fluorite     1
32                         Forsterite     1
33                             Galena     1
34                          Almandine     1
35                          Grossular     1
36                           Gibbsite     1
37                         Celadonite     1
38                           Goethite     1
39                           Graphite     1
40                             Gypsum     1
41                             Halite     1
42                     Halloysite-10A     1
43                      Halloysite-7A     1
44                           Hematite     1
45                           Ilmenite     1
46                               Iron     1
47                           Jarosite     1
48                          Kaolinite     1
49                         Microcline     1
50                         Orthoclase     1
51                           Sanidine     1
52                      Lepidocrocite     1
53                          Maghemite     1
54                          Magnesite     1
55                          Magnetite     1
56                          Marcasite     1
57                          Margarite     1
58                          Mordenite     1
59                          Muscovite     1
60                          Nahcolite     1
61                            Natrite     1
62                          Natrolite     1
63                               Opal     1
64                       Palygorskite     1
65                         Phlogopite     1
66                             Albite     1
67                           Sanidine     1
68                          Anorthite     1
69                           Prehnite     1
70                             Pyrite     1
71                       Pyrophyllite     1
72                             Augite     1
73                           Diopside     1
74                          Enstatite     1
75                       Hedenbergite     1
76                         Pyrrhotite     1
77                             Quartz     1
78                        Ramsdellite     1
79                          Rectorite     1
80                             Rutile     1
81                          Sepiolite     1
82                           Siderite     1
83                        Sillimanite     1
84                    Montmorillonite     1
85                         Nontronite     1
86                          Hectorite     1
87                           Saponite     1
88                         Sphalerite     1
89                             Spinel     1
90                       Strontianite     1
91                            Sylvite     1
92                               Talc     1
93                         Thenardite     1
94                           Titanite     1
95                           Tobelite     1
96                          Tridymite     1
97                        Vermiculite     1
98                            Zincite     1
99                             Zircon     1
100                      Baileychlore     1
101                      Borocookeite     1
102                         Chamosite     1
103                       Clinochlore     1
104                          Cookeite     1
105                        Donbassite     1
106                Franklinfurnaceite     1
107                       Glagolevite     1
108                         Gonyerite     1
109                            Nimite     1
110                        Pennantite     1
111                           Sudoite     1
112            Ferro-ferri-hornblende     1
113                  Ferro-hornblende     1
114  Magnesio-ferri-fluoro-hornblende     1
115               Magnesio-hornblende     1
116                       Nitrobarite     1
117                       Roterbarite     1
118                         Arhbarite     1
119                           Amesite     1
120                        Antigorite     1
121                       Brindleyite     1
122                       Caryopilite     1
123                        Chrysotile     1
124                      Cronstedtite     1
125                       Fraipontite     1
126                       Guidottiite     1
127                          Kellyite     1
128                         Lizardite     1
129                          Nepouite     1
130                         Pecoraite     1
131                     Boromuscovite     1
132                       Chernykhite     1
133                     Chromphyllite     1
134                        Montdorite     1
135                        Nanpingite     1
136                        Paragonite     1
137                        Roscoelite     1
138                     Shirokshinite     1
139                            Silver     1
140                           Sulphur     1
141                         Adachiite     1
142                           Bosiite     1
143                  Chromium-dravite     1
144        Chromo-alumino-povondraite     1
145                   Darrellhenryite     1
146                           Dravite     1
147                           Elbaite     1
148                          Feruvite     1
149                  Fluor-buergerite     1
150                     Fluor-dravite     1
151                     Fluor-elbaite     1
152                Fluor-liddicoatite     1
153                      Fluor-schorl     1
154                  Fluor-tsilaisite     1
155                       Fluor-uvite     1
156                           Foitite     1
157                       Lucchesiite     1
158                     Luinaite-(OH)     1
159                  Magnesio-foitite     1
160              Magnesio-lucchesiite     1
161                       Maruyamaite     1
162                           Olenite     1
163              Oxy-chromium-dravite     1
164                       Oxy-dravite     1
165                       Oxy-foitite     1
166                        Oxy-schorl     1
167              Oxy-vanadium-dravite     1
168                       Povondraite     1
169                        Rossmanite     1
170                            Schorl     1
171                        Tsilaisite     1
172      Vanadio-oxy-chromium-dravite     1
173               Vanadio-oxy-dravite     1

In [7]:
# Matching the rockjock minerals to the med database and removing all unnecessary entries
# Note, this method renders the rj_id column meaningless
rj_matching = np.array(rj.iloc[:,:2])
for name, num in rj_matching:
    if name in np.array(med['mineral_names']):
        med.loc[med['mineral_names'] == name,['rj_id']] = num
df_cleaned = med[med['rj_id'] != -1]
df_cleaned

         locality_id mineral_names  rj_id
1                  1       Calcite     14
2                  1  Chalcopyrite    159
3                  1      Cinnabar    107
4                  1       Dickite     27
5                  1        Galena    115
...              ...           ...    ...
1763557       285667        Quartz      1
1763559       285667          Talc     43
1763561       285668  Chalcopyrite    159
1763562       285668        Galena    115
1763564       285668        Pyrite     56

[866749 rows x 3 columns]

In [8]:
# Matching the mineral names back to the original Rock Jock names (where possible)
new_col = np.array(range(len(df_cleaned)))
new_col[:] = -1
df_cleaned = df_cleaned.assign(rj_names = new_col)
for i in range(len(rj['Matching names'])):
    min_name = rj['Matching names'][i]
    df_cleaned.loc[df_cleaned['mineral_names'] == min_name,'rj_names'] = rj['Recommended Name'][i]
df_cleaned.to_csv('rj_med_localities.csv')
df_cleaned

         locality_id mineral_names  rj_id      rj_names
1                  1       Calcite     14       Calcite
2                  1  Chalcopyrite    159  Chalcopyrite
3                  1      Cinnabar    107      Cinnabar
4                  1       Dickite     27       Dickite
5                  1        Galena    115        Galena
...              ...           ...    ...           ...
1763557       285667        Quartz      1        Quartz
1763559       285667          Talc     43          Talc
1763561       285668  Chalcopyrite    159  Chalcopyrite
1763562       285668        Galena    115        Galena
1763564       285668        Pyrite     56        Pyrite

[866749 rows x 4 columns]

In [9]:
# Verifying only RockJock names still exist in the database (df_check should be empty)
df_check = df_cleaned
for name in rj['Recommended Name']:
    df_check = df_check[df_check['rj_names'] != name]
df_check

Empty DataFrame
Columns: [locality_id, mineral_names, rj_id, rj_names]
Index: []

In [ ]:
# Creating a list of lists of minerals from each locality, using the Rock Jock names
name_loc = []
localities = np.unique(df_cleaned['locality_id'])
for i in localities:
    locality = df_cleaned[df_cleaned['locality_id'] == i]
    local = [name for name in locality['rj_names']]
    if len(local) != 1:
        name_loc.append(local)

In [ ]:
# Exporting the list of mineral localities to a pickle object
with open('min_loc', 'wb') as f:
    pickle.dump(name_loc,f)

In [ ]:
# Determining the frequency of each of the Rock Jock minerals to help guide the association rule process
df_minerals = pd.read_csv('rj_med_localities.csv')
rj = pd.read_csv('rj_matching.csv')
with open('min_loc', 'rb') as f:
    name_loc = pickle.load(f)
freq = np.array([])
for i in range(len(rj)):
    counts = df_minerals.loc[df_minerals['rj_names'] == rj['Recommended Name'][i],['rj_names']].count()
    freq = np.append(freq,counts[0]/len(name_loc))
freq = freq*100
min_freq = np.column_stack([freq,np.array(rj['Recommended Name'])])
min_freq

In [ ]:
min_freq[:,0].min()